.container {
  background-color: #051c2c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #fff;
}

.heading {
  font-size: 36px;
  color: #fff;
}

.text {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 20px;
}

.link {
  color: #87CEFA;
  text-decoration: underline;
}
